{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>{{ total_openings }} Available Times to Meet</h1>
    <div style="overflow-y: scroll; height:350px;"> 
    <table class="border table table-striped table-hover" >
        <thead>
          <tr>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>

        <!-- Sunday -->
        {% for i in sunday_availability %}
            <tr>
                <th>Sunday</th>
                <td>{{ i.0 }}:00 PM</td>
                <td>{{ i.1 }}:00 PM</td>
                <td>1 Hr.</td>
            </tr>
        {% endfor %}
        <!-- Monday -->
        {% for i in monday_availability %}
            <tr>
                <th>Monday</th>
                <td>{{ i.0 }}:00 PM</td>
                <td>{{ i.1 }}:00 PM</td>
                            <td>1 Hr.</td>
            </tr>
        {% endfor %}
        <!-- Tuesday -->
        {% for i in tuesday_availability %}
        <tr>
            <th>Tuesday</th>
            <td>{{ i.0 }}:00 PM</td>
            <td>{{ i.1 }}:00 PM</td>
                        <td>1 Hr.</td>
            </tr>
        {% endfor %}
        <!-- Wednesday -->
        {% for i in wednesday_availability %}
        <tr>
            <th>Wednesday</th>
            <td>{{ i.0 }}:00 PM</td>
            <td>{{ i.1 }}:00 PM</td>
                        <td>1 Hr.</td>
            </tr>
        {% endfor %}
        <!-- Thursday -->
        {% for i in thursday_availability %}
        <tr>
            <th>Thursday</th>
            <td>{{ i.0 }}:00 PM</td>
            <td>{{ i.1 }}:00 PM</td>
                        <td>1 Hr.</td>
            </tr>
        {% endfor %}
        <!-- Friday -->
        {% for i in friday_availability %}
        <tr>
            <th>Friday</th>
            <td>{{ i.0 }}:00 PM</td>
            <td>{{ i.1 }}:00 PM</td>
                        <td>1 Hr.</td>
            </tr>
        {% endfor %}
        <!-- Saturday -->
        {% for i in saturday_availability %}
        <tr>
            <th>Saturday</th>
            <td>{{ i.0 }}:00 PM</td>
            <td>{{ i.1 }}:00 PM</td>
                        <td>1 Hr.</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        </div>

    
    <h1>{{ total_users }} Users</h1>
    <div class="container-fluid">
        <div class="row row-eq-spacing-sm  justify-content-left"> 
    {% for user in schedules %}
        <div class="col-6 col-lg-3">
            <div class="card">
                <h4> {{ user.name.title }}  </h4>
                <a href="#" class="badge-group" role="group" aria-label="...">
                    <span class="badge bg-dark text-white">Total Availability</span> <!-- bg-dark = background-color: var(--dark-color), text-white = color: #ffffff --->
                    <span class="badge badge-primary">{{user.TotalTime}} Hrs.</span>
                  </a><br><br>


                <a href="/{{user.id}}/update" ><button class="btn btn-secondary text-right" style="color:white;">Edit</button></a>
                <a href="/{{user.id}}/delete" ><button class="btn btn-danger text-right" style="color:white;">Delete</button></a>



                
            </div>
            </div>
         
                      
    {% endfor %}
    

          

{% endblock %}
